.btn {
  width: 20vw;
  height: 25vh;
  font-size: 1.6vw;
  margin-right: 6px;
}
.LowBtn {
  width: 20vw;
  height: 4vh;
  font-size: 1.5vw;
  margin-right: 6px;
}

.timeblock {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
  height: 20vh;
  width: 500vw;
  background: beige;
  border-radius: 3px;
  border: black;
}

.time {
  margin-left: 1vw;
  width: 100vw;
  height: 4vh;
  font-size: 3vh;
  display: flex;
  position: absolute;
  margin-top: 2vh;
  vertical-align: center;
}

.closeBtn {
  margin-top: 1vw;
  width: 100vw;
  height: 5vh;
  font-size: 1.5vw;
}

.namePage {
  padding: 5px;
}

.guest {
  padding: 5px;
  margin-left: 1vw;
  font-size: 2vw;
}

.guestbox {
  background-color: beige;
  width: 90vw;
  height: 60vh;
  margin-left: 10px;
  padding: 20px;
}

.paybtn {
  width: 100vw;
  height: 25vh;
  font-size: 2vw;
}

.summ {
  padding: 5vw;
  font-size: 1.5vw;
}

.enterbtn {
  margin: 5px 5px 5px 5px;
  width: 30vw;
  marginLeft: 5;
  height: 6vh;
  font-size: 1.5vw;
}

.box50 {
  padding: 5vw;
    width: 50vw;
    height: 30vh;
  border: 1px solid #ccc; /* Параметры границы */
   }

.box50btn {
  font-size: 1.5vw;
  width: 40vw;
  height: 5vh;
  margin-bottom: 5vw;
}

.or {
  background-color: #eec67d;
}

.inputstyle {
  margin-top: 15vh;
}
.bdbtn {
  font-size: 1.5vw;
  width: 90vw;
  height: 5vh;
  margin: 1vw;
}

.title {
  font-size: 2vw;
}

.subtitle {
  padding: 1vw;
  margin-left: 5vw;
  margin-top: -0.5vh;
}
